.login-button {
    border: none;
    color: #334153;
    background-color: white;
}
  
.login-button.primary.hover {
    color: white;
}

.login-button:not(:disabled):active {
    background-color: #F1F5F9;
    border: none;
    color: #334153;
}
  
.login-button:not(:disabled):hover {
    background-color: #F1F5F9;
    border: none;
    color: #334153;
}
  
.active {
    color: #f07d00; 
}
  