:root {
  --df-light-blue: #1e9bd7;
  --df-faded-light-blue: rgba(30, 155, 215, 0.15);
  --df-dark-blue: #003c50;
  --df-orange: #f07d00;
  --df-blue: #334155;

  --p-button-primary-background: #f07d00 !important;
  --p-button-primary-border-color: #f07d00 !important;
  --p-button-primary-hover-background: rgba(240, 125, 0, 0.85) !important;
  --p-button-primary-hover-border-color: rgba(240, 125, 0, 0.85) !important;
  --p-card-body-padding: 0rem !important;
  --p-button-primary-active-background: #f07d00 !important;
  --p-button-primary-active-border-color: #f07d00 !important;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
}

/*
Always add scrollbar to avoid visible offset when switching between emptyish and full content page.
TODO: Find better solution to avoid offset induced by added/removed scrollbar
*/
body {
  overflow-y: scroll;
}
